body {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    margin: 0px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: blue;
    min-height: 100vh;
}
.sidebar > * {
    color: white;
}

.header {
    display: grid;
    background-color: white;
    box-shadow: 0 5px 4px -4px lightgray;
}